

<div class="detalle" id="detalle">
    <div class="row padding">
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" src="./assets/css/img/detalle/control.jpg">
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><br><br>FUMIGACION Y LIMPIEZA DE JARDINES</h5>
          <p class="card-text">
              Contamos con toda la experiencia para realizar el tratamiento fitosanitario y certificaciones necesarias para la manipulacion y aplicacion de productos quimicos para evitar y prevenir la accion de insectos, malas hierbas, bacterias y otras especies perjudiciales para su jardin. <br><br>
              Actualmente una de las plagas mas frecuentes en Palma de Mallorca son los insectos denominados "Picudo Rojo", contamos con una amplia experiencia para realizar la deteccion y tratamiento para prevenir el deterioro de las palmeras. <br><br>
              Cuando la palmera se ve afectada por la plaga de picudo rojo, se amarillea y marchita, pudiendo llegar a producirse la muerte del ejemplar.<br><br>
              Somos especialistas en la detección y tratamiento contra el picudo rojo. Consúltenos sin compromiso, nuestro personal está formado especialmente en los últimos sistemas de tratamiento contra el picudo rojo.
          </p>
        </div>
      </div>
    </div>
  </div>
  