

<div class="detalle" id="detalle">
    <div class="row padding">
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" src="./assets/css/img/detalle/imagenLimpieza.jpg">
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><br><br>JARDINERIA EN GENERAL</h5>
          
          <p class="card-text">
              El adecuado mantenimiento de un jardín, requiere de conocimientos que garanticen su buen aspecto y las necesidades hídricas y abonados de cada especie que lo forma. <br><br>
              <b>SERVICIOS DE JARDINERÍA:</b> <br>
              * Limpieza de malas hierbas <br>
              * Podas de formación de arbustos <br>
              * Recorte setos. <br>
              * Plantar flores y árboles <br>
              * Corte del césped <br>
              * Poda de ramas <br>
              * Tratamientos fitosanitarios <br>
              * Abonos minerales <br>
              * Mantenimiento del sistema de riego y reparaciones de pequeñas averías <br>
              * Retirada de restos vegetales <br>
              * Soplar y limpiar terrazas         <br>      
          </p>
        </div>
      </div>
    </div>
  </div>
  