

<div class="detalle" id="detalle">
    <div class="row padding">
      <div class="col-md-6">
        <div class="card text-center">
          <img class="card-img-top" src="./assets/css/img/detalle/178.jpg">
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="card-body">
          
          <h5 class="card-title"><br><br>PODA Y TALA DE PINOS Y PALMERAS</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">
              <br>
              Somos especialistas en la poda y tala de palmeras, pinos, olivos, citricos y todo tipo de arboles en palma de mallorca y retirada de restos de poda.
              <br><br>
              ¿POR QUÉ ES NECESARIA LA PODA EN ALTURA? <br>
              Llega un momento en el que resulta imprescindible realizar una poda en altura para que el árbol mantenga una forma equilibrada y un buen desarrollo. Y sobre todo resulta obligatorio cuando el árbol tiene ramas que han crecido más de la cuenta y están ‘descontroladas’, y así evitar posibles incidentes.<br><br>
              ¿QUÉ ES IMPRESCINDIBLE TENER EN CUENTA ANTES DE REALIZAR UNA PODA EN ALTURA?<br>
              • es imprescindible que quien vaya a realizar la poda sea personal especializado<br>
              • Que dispongan de las herramientas indicadas para este tipo de poda<br>
              • Que se cumplan las normas de seguridad necesarias para evitar accidentes<br><br>
              NUESTRO SERVICIO DE PODA DE ÁRBOLES EN ALTURA<br>
              Contamos con el mejor personal cualificado de Mallorca para realizar este tipo de podas. Disponemos de todas las herramientas necesarias para la poda de árboles en altura y siempre cumpliendo las normas de seguridad reglamentarias para que todo transcurra sin incidentes. Deja el mantenimiento de tus árboles en las mejores manos.<br>
              <br>
              Limpieza de bosques, terrenos, solares. Tambien realizamos limpieza de caminos y carreteras.
          </p>
        </div>
      </div>
    </div>
  </div>
  